.login-screen {
  background-image: url("../images/bg-login.png");
  background-repeat: no-repeat;
  color: #ffffff;
  font-weight: bold;
  background-size: 117%;
  min-width: 1350px;
  min-height: 650px;

  .content {
    margin: auto;
    margin-right: 10%;
    min-width: 350px;

    .text-register {
      font-size: 20px;
    }

    h1 {
      color: white;
    }
  }

  .form-login {
    width: 90%;
    font-size: 25px;

    input {
      background-color: #5239af;
      color: #ffffff;
      border: 1px solid #ffffff;
      padding: 5px 5px;
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: #a7a5a5;
        font-size: 20px;
      }
    }

    .first-input {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom: none;
    }
    .last-input {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    button {
      margin-top: 5%;
      border-radius: 5px;
      color: blue;
      background-color: white;
      padding: 10px;
      &:focus {
        color: blue;
      }
    }
  }
}
